{% extends "layout.html" %} {% block body %}





<div class="jumbotron">
    <h1 class="display-4">tRO MVP Timer.</h1>
    <hr class="my-3">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <div class="container">
        <form method="POST" action="/mvpcheck">
            <div id="the-basics">
                Select MVP:
                <input type="text" class="form-control typeahead" id="extampleField" placeholder="Type MVP name" name='mvpname'>
            </div>
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value=""> Died just now
            </label>
            <br>
            <br>

            <input type="submit" class="btn btn-info" value="Update Timer">
        </form>
    </div>
    <table class="table table-striped table-bordered">
                <thead>

                  <tr>
                    
                      <th>Name</th>
                      <th>Spawn Timer (in minutes)</th>
                      <th>Last Died at (24 hour clock) </th>
                      <th>Respawning at:</th>
                    
                  </tr>


                </thead>

                <tbody>
                  {% for details in deadmvpdetails %}{% for stuff in mvpdetails %}
                    <tr>                  
                        <td>{{ details.name }}</td>
                        <td>{{ stuff.lowertime }} ~ {{ stuff.uppertime }}</td>
                        <td>{{ details.deathtime }}</td>
                        <td>{{ reslow }} ~ {{ resup }}</td>
                    </tr>
                    {% endfor %}{% endfor %}
                  </tbody>
            </table>
</div>







{% endblock %}